.modalClass{
    
    .modal-content{
        background: #070f0b;
    }
    .modal-header{
        button{
            color:white;
        }
    }
}

.homePage_image{
    background-image   : url('../../../assets/images/skull/photo_1.png');
	background-repeat  : no-repeat;
	background-position: center center;
}